#Bg_conf{
    -fx-background-image:url('../Src/Img/x4.png');
    -fx-background-size:cover;
    
}

#btn1{
    -fx-background-image:url('../Src/Img/btno1.png');
    -fx-background-size:cover;
  
  -fx-background-color: transparent;
}

    
    
    
     

#btn1:hover{
 -fx-effect: dropshadow(three-pass-box, #0C507F, 30, 0.5, 0, 0);
   
    
}